body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('/images/Rectangle_13.png'); /* Ganti dengan URL gambar latar Anda */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout{
    display: block;
}

.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(245, 227, 180, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
  }
  
  .card-header {
    display: flex;
    background-color: #603f20;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card-header h2 {
    font-size: 18px;
    color:  #f5e3b4;
    margin: 0;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .card-content {
    margin-bottom: 20px;
  }
  
  .card-content .count {
    font-size: 48px;
    font-weight: bold;
    color: #603f20;
    margin: 0;
  }
  
  .card-content p {
    font-size: 14px;
    color:#603f20;
    margin: 0;
  }
  
  .card-button {
    background-color: #6c63ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    transition: background-color 0.3s;
  }
  
  .card-button:hover {
    color: white;
    background-color: #574fd6;
  }

.button-menu {
    display: inline-block;
    background-color:  #603f20;
    border: 2px solid #f5e3b4;
    color: #f5e3b4;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
.button-menu:hover {
    background-color: #f5e3b4;
    color: #603f20; /* Warna coklat gelap */
}